@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.nav-bar{
    background-color: #216391;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;
    top: 0;
    z-index: 9;
}

#nav-borrder{
   padding-bottom: 10px;
   border-bottom: 3px solid; 
}
 
a{
    font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 1px .5px 4px rgba(46, 31, 31, 0.5);
  color: rgb(255, 255, 255);
  text-decoration: none;

  
}

footer{
    align-items:center;
    margin: 0px -8px -8px -8px;
    background-color: rgb(1, 128, 106);
    border-top: 5px solid rgb(247, 177, 188);
    bottom: 0;
}

h1{
 font-family: 'Josefine Slab';
 font-size: 80px;
 color: rgb(0,80,67);
 text-align: center;
}

h2, h3, h4{
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

form input{
    font-family: 'Courier New', courier, monospace;
    font-size: 15px;
    color: rgb(165, 165, 165);
    border: 2px solid(165, 165, 165);
    border-radius: 27px;
    padding: 3px;
    margin: 67px 45px 0px 30px;
    transition: 0.3s ease-out;
}

input[type="submit"]{
    background-color: rgb(1, 128, 106);
    border: none;
    border-radius: 35px;
    font-family: 'Josefine Slab', serif;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    float: right;
}

input[type="button"]{
    background-color: rgb(247, 177, 188);
    color: white;
}

#contact{
    display: block;
    margin-bottom: 70px;
}

form{
    display: table;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

form input:focus{
    border: 2px solid rgb(1, 128, 106);
    color: black;
    outline: none;
    transition: 0.3s ease-out;
}

label{
    font-family: 'Josefine Slab', serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

textarea{
    width: 100%;
    height:200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(165, 165, 165);
    font-size: 15px;
    transition: 0.3s ease-out;
}

textarea:focus{
    color:black;
    border: 3px solid rgb(1, 128, 106);
    transition: 0.3s ease-out;
    outline: none;
}

input[type="submit"]{
    background-color: rgb(1, 128, 106);
    border: none;
    border-radius: 35px;
    font-family: 'Josefine Slab', serif;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover{
    background-color: rgb(247, 177, 188);
}

.about{
    text-align: justify;
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.column{
    float: left;
    width: 48%; /*places images side by side*/
    padding: 10px;
}