/*import link for roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*import link for mukta font*/
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body{

   background-color: white; 
   overflow-x: hidden; /*hides the bottom left side*/ 

}

/*navbar*/
a{
    font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 1px .5px 4px rgba(46, 31, 31, 0.5);
  color: rgb(255, 255, 255);
  text-decoration: none;

  
}

a:hover{
    color: #d7eaf7;
}


li{
    display: inline;
    padding: 5px;
} 
.nav-bar{
    background-color: #216391;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;
    top: 0;
    z-index: 9;
}

#nav-borrder{
   padding-bottom: 10px;
   border-bottom: 3px solid; 
}
 

/*header*/
h1, h2, h3{
    color: #0a3f63;
    text-align: center;
    font-family: 'mukta', sans-serif; /*fonts from google*/
    text-shadow: 1px .5px 4px rgba(0,0,0,0.5);
    margin: 0px;
}   
 
h1{
    font-size: 60px;
    margin-top: 50px;
}
h2{
    font-size: 45px;
    margin-top: 20px;
}
h3{
    font-size: 45px;
    margin-top: 20px;
}

#contact-h3-{
    text-shadow: none;
}

/*creates a text collor change animation on the h1 tags 
home and contact page header*/
@keyframes color-text{
  0%   { color: #b5e1ff; } 
  100% { color: #0a3f63; }
}

/*calls the ainmation*/
.animate-text{
    animation: color-text 4s infinite alternate;
}

/*body contant*/

img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 19);
}

.column{
    float: left;
    width: 48%; /*places images side by side*/
    padding: 10px;
}
/*groups elements*/
.container{
    background-size: 100% !important;
    margin: 0px -60px 50px -40px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.container::after{
    content:"";
    clear: both;
    display: table;
}

.image-container{
    position: relative;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

#cat{
    background-color: #d7eaf7;
}

#dog{
    background-color: #c3e0c5;
}

#rabbits{
    background-color: #c3e0c5;
}

#guineapigs{
    background-color: #d7eaf7;
}

#fish{
    background-color:#d7eaf7;
}
#reptile{
    background-color:#c3e0c5;
}

/*sets up properties for overlay*/
.overlay{
    position: absolute;
    top: 25px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 500px;
    height: 350px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(0,0,0);
    opacity: 0;
}

/*makes an overlay appear when hovering*/
.overlay:hover{
    opacity: 0.6;
}

/*this selector targets the video*/
iframe{
    display: table;
    margin: auto;
    border-radius: 20px;
    border: none;
}

#video{
    background-color: #c3e0c5;
    padding-top: 5px;
    padding-bottom: 50px;
}

footer{
    background-color:#216391;
    margin-top: 50px;
    /*negative margins stretch the footer beyond the web browser*/
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 0;
}

/*styles the table elements within the footer tags*/
table{
    width:100%;
}

td{
    text-align: center;
    width: 33%;/*devides three collums eqqually*/
}

td p{
    font-family: 'roboto', sans-serif;
    color: rgb(255, 255, 255);
}

/*form css*/
form{
    padding: 15px;
    display: table;
    margin: auto;
}

input{
    border: 2px solid rgb(165, 165, 165);
    border-radius: 2px;
    padding: 1px;
    margin: 10px 15px 10px 0px;
    font-size: 20px;
    color: rgb(165, 165, 165);
    transition: color 0.3s ease-out;
}

input:focus{
    box-sizing: border-box;
    border: 2px solid #0a3f63;
    color: #000000;
    transition: 0.3 ease-in;
    outline: none;
}

label{
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    margin: 10px;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 4px;
    background: #ffffff;
    font-family: 'roboto', sans-serif;
    color: rgb(165, 165, 165);
    font-size: 15px;
    resize: both;
    transition: color 0.3s ease-out;
}

/*applies different styling to the text area*/
textarea:focus{
    box-sizing: border-box;
    color: black;
    border: 3px solid #0a3f63;
    outline: none;
}

/*styles the submit button*/
input[type="submit"]{
    background-color: #0a3f63;
    border: none;
    border-radius: 5px;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

/*changes background of submit button when hovering*/
input[type=submit]:hover{
    background-color: #052133;
}






